Repository Milenoi/nuxt-cache: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:staged --, yarn run stylelint:staged --

Raise image quality: home hero to 80, list thumbnails to 60
  components/Apod/Thumbnail.vue
  pages/index.vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

Use APOD hdurl for home hero to avoid upscaled, pixelated image
  pages/index.vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

Fix home hero: force fit=cover so portrait sources fill full width
  pages/index.vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

Fix detail image: serve by width so portrait sources aren't shrunk by height-constrained contain
  pages/apod/[id].vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

feat: use the newest APOD in the hero, with autoplaying video support
  pages/index.vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

Update deps, migrate to @lucide/vue, equal-height gallery cards
  components/Apod/Card.vue
  components/Layout/ScrollToTop.vue
  components/ui/sonner/Sonner.vue
  error.vue
  package.json
  pages/apod/[id].vue
  pages/how.vue
  pages/index.vue
  yarn.lock
Due: yarn run lint:staged --, yarn run stylelint:staged --

Add multi-layer cache chain (Vue Query -> Nitro -> Redis -> NASA)
  .gitignore
  assets/css/tailwind.css
  assets/json/static-text.json
  components/Apod/CacheBadge.vue
  components/Layout/CacheFooter.vue
  components/Layout/LoadingLayer.vue
  composables/useCacheStatus.ts
  composables/useClearNitroCache.ts
  composables/useFetchApod.ts
  nuxt.config.ts
  pages/how.vue
  pages/index.vue
  public/svg/marks/nitro.svg
  server/api/apod.get.ts
  server/api/cache-status.get.ts
  server/api/clear-nitro-cache.post.ts
  server/api/clear-redis-cache.post.ts
  types.d.ts
Due: yarn run lint:staged --, yarn run stylelint:staged --

Fix mobile layout: dvh viewport, single-row footer, video preview
  components/Apod/Card.vue
  components/Layout/CacheFooter.vue
  layouts/default.vue
  pages/index.vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

Nitro cache in-memory; clearer how/about wording; bigger mobile detail title
  assets/json/static-text.json
  nuxt.config.ts
  pages/apod/[id].vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

feat: show real code per layer on how-it-works page
  assets/css/tailwind.css
  assets/json/code-snippets.json
  assets/json/static-text.json
  components/ui/collapsible/Collapsible.vue
  components/ui/collapsible/CollapsibleContent.vue
  components/ui/collapsible/CollapsibleTrigger.vue
  components/ui/collapsible/index.ts
  package.json
  pages/how.vue
  scripts/generate-snippets.mjs
  yarn.lock
Due: yarn run lint:staged --, yarn run stylelint:staged --

fix: reserve image dimensions to prevent layout shift (CLS)
  components/Apod/CacheBadge.vue
  components/Layout/CacheFooter.vue
  components/Layout/LoadingLayer.vue
  package.json
  pages/apod/[id].vue
  pages/how.vue
  pages/index.vue
  server/api/apod.get.ts
  server/utils/getImageSize.ts
  types.d.ts
  utils/getMarkSize.ts
  yarn.lock
Due: yarn run lint:staged --, yarn run stylelint:staged --

fix: harden detail image against slow NASA origin + label cache buttons
  components/Layout/CacheFooter.vue
  pages/apod/[id].vue
  server/utils/getImageSize.ts
Due: yarn run lint:staged --, yarn run stylelint:staged --

fix: route hero video poster through image pipeline (WebP)
  pages/index.vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

test: add Vitest and cover getApodEmbed URL classification
  .github/workflows/ci.yml
  package.json
  test/getApodEmbed.test.ts
  vitest.config.ts
  yarn.lock
Due: yarn run lint:staged --

chore: gitignore AGENTS.md (local AI assistant notes)
  .gitignore
Due: none

fix: fade in hero overlay on navigation without delaying LCP
  assets/css/tailwind.css
  pages/index.vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

feat: add fade + zoom-in entry animation to home hero
  assets/css/tailwind.css
  pages/index.vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

perf: shrink hero LCP image via real responsive srcset and lower quality
  app/pages/index.vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

perf: raise hero image quality from 50 to 60
  app/pages/index.vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

docs: update README for Nuxt 4 app/ structure
  README.md
Due: none

chore: track CLAUDE.md and update it for the Nuxt 4 app/ structure
  .gitignore
  CLAUDE.md
Due: none

chore: set package name to nuxt-nasa-cache
  package.json
Due: none

chore: sync yarn.lock with the renamed workspace
  yarn.lock
Due: none

feat: serve site content through the cache chain and cross-link the RAG demo
  app/assets/json/static-text.json
  app/composables/useContent.ts
  app/pages/about.vue
  server/api/clear-redis-cache.post.ts
  server/api/content.get.ts
  shared/types/index.ts
Due: yarn run lint:staged --, yarn run stylelint:staged --

Path conditions:
  yarn run lint:staged --: ((any of: *.vue) or (any of: *.js)) or (any of: *.ts)
  yarn run stylelint:staged --: (any of: *.vue) or (any of: *.scss)
