Repository Milenoi/nuxt-cache: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:staged --, yarn run stylelint:staged --

[TASK] Modify staged task in package.json
  package.json
Due: none

[TASK] Fix styling in about page
  pages/about.vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

[TASK] Fix lint task in package.json
  package.json
Due: none

[TASK] Move interface declarations to separate types file
  .eslintrc
  .yarn/install-state.gz
  components/Layout/CacheActionBar.vue
  composables/useClearRedisCache.ts
  composables/useFetchMarsRoverPhotos.ts
  composables/useFetchMarvelData.ts
  error.vue
  eslint.config.mjs
  nuxt.config.ts
  package.json
  server/api/mars-rover-photos.get.ts
  server/api/marvel-characters.get.ts
  types.d.ts
  yarn.lock
Due: yarn run lint:staged --, yarn run stylelint:staged --

[TASK] Remove prettier
  .eslintrc
  .yarn/install-state.gz
  components/Layout/AppFooter.vue
  eslint.config.mjs
  package.json
  pages/about.vue
  pages/mars-rover-photos/[id].vue
  pages/mars-rover-photos/index.vue
  yarn.lock
Due: yarn run lint:staged --, yarn run stylelint:staged --

Create LICENSE
  LICENSE
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update README.md
  README.md
Due: none

Create PULL_REQUEST_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
Due: none

[TASK] Update yarn packages
  .eslintcache
  .yarn/install-state.gz
  components/ApiLogo.vue
  components/Layout/CacheActionBar.vue
  layouts/default.vue
  package-lock.json
  package.json
  pages/index.vue
  pages/mars-rover-photos/index.vue
  server/api/clear-redis-cache.ts
  server/api/mars-rover-photos.get.ts
  yarn.lock
Due: yarn run lint:staged --, yarn run stylelint:staged --

[TASK] Fix nasa data (missing keys etc)
  .eslintcache
  nuxt.config.ts
  pages/mars-rover-photos/index.vue
  server/api/mars-rover-photos.get.ts
  types.d.ts
Due: yarn run lint:staged --, yarn run stylelint:staged --

Replace Marvel/Mars with NASA APOD; fix caching and switch to https
  .eslintcache
  .yarn/install-state.gz
  CLAUDE.md
  README.md
  assets/json/static-text.json
  components/ApiLogo.vue
  components/Apod/MediaTypeBadge.vue
  components/Apod/Thumbnail.vue
  components/Rover/StatusChip.vue
  composables/useFetchApod.ts
  composables/useFetchMarsRoverPhotos.ts
  composables/useFetchMarvelData.ts
  netlify.toml
  nuxt.config.ts
  pages/about.vue
  pages/apod/[id].vue
  pages/apod/index.vue
  pages/index.vue
  pages/mars-rover-photos/[id].vue
  pages/mars-rover-photos/index.vue
  pages/marvel-characters/[id].vue
  pages/marvel-characters/index.vue
  public/images/apod.jpg
  public/images/mars.jpg
  public/images/marvel.jpg
  public/svg/marvel.svg
  server/api/apod.get.ts
  server/api/mars-rover-photos.get.ts
  server/api/marvel-characters.get.ts
  server/utils/getApodApi.ts
  server/utils/getMarvelApi.ts
  server/utils/getNasaApi.ts
  types.d.ts
  utils/getApodEmbed.ts
  utils/getImageConfig.ts
  yarn.lock
Due: yarn run lint:staged --, yarn run stylelint:staged --

Stop tracking eslint/yarn build artifacts, add to .gitignore
  .eslintcache
  .gitignore
  .yarn/install-state.gz
Due: none

Require Node 24 (drop EOL Node 18): update .nvmrc and add engines
  .nvmrc
  package.json
Due: none

Upgrade to Nuxt 4 + Vue 3.5: stable @nuxt/image, replace vue-query wrapper with own plugin (fixes 26 advisories)
  nuxt.config.ts
  package.json
  plugins/vue-query.ts
  yarn.lock
Due: yarn run lint:staged --

Upgrade to Vuetify 4; fix husky 9 prepare script and hook format
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

Clean up tooling deps: remove unused vite-plugin-eslint2, bump stylelint to 17, provide vite 7 peer
  package.json
  yarn.lock
Due: none

Drop outdated @nuxt/eslint dev checker (removes vite-plugin-eslint2 need), pre-bundle vue-query
  nuxt.config.ts
Due: yarn run lint:staged --

Fix vue-query persister: experimental_createPersister renamed to experimental_createQueryPersister
  composables/useFetchApod.ts
Due: yarn run lint:staged --

Prune dead deps (eslint-plugin-node, eslint-scope, unused @tanstack pkgs, .eslintrc); bump sass/postcss-html/@vueuse-router/lint-staged
  .eslintrc
  package.json
  yarn.lock
Due: none

Switch to NASA meatball favicons and blue theme color
  app.vue
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/favicon.png
  public/favicon.svg
  public/safari-pinned-tab.svg
  public/site.webmanifest
Due: yarn run lint:staged --, yarn run stylelint:staged --

Remove stylelint; bump ESLint 10 + TypeScript 6 (+vue-tsc); 32 APOD images; pre-bundle vue-query/devtools; fix mis-scoped lint rule
  .lintstagedrc
  .stylelintignore
  .stylelintrc.json
  eslint.config.mjs
  nuxt.config.ts
  package.json
  server/api/apod.get.ts
  yarn.lock
Due: yarn run lint:staged --

Fix Vuetify 4 regressions: re-expose MD color classes via theme, clear cache bar from footer
  components/Layout/CacheActionBar.vue
  plugins/vuetify.ts
Due: yarn run lint:staged --, yarn run stylelint:staged --

Make overview hero image height responsive (clamp min/vh/max) instead of fixed
  pages/index.vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

Fit overview page to viewport (no scroll): flex-fill container, responsive image, neutralize bottom-padding hack on landing
  app.vue
  pages/index.vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

Harden cache-clear endpoint: POST-only + scoped to apod namespace (was unauthenticated GET wiping whole DB)
  composables/useClearRedisCache.ts
  server/api/clear-redis-cache.post.ts
  server/api/clear-redis-cache.ts
Due: yarn run lint:staged --

Add CDN cache headers (SWR) for static pages via routeRules; keep APOD SSR
  nuxt.config.ts
Due: yarn run lint:staged --

Prevent SSR->hydration layout jump: reserve app-bar height on v-main via CSS
  app.vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

TypeScript overhaul: pass typecheck (0 errors), add Zod validation at NASA boundary, fix ~/ imports, drop dead helpers, add @types/node + typecheck script; docs to Nuxt 4
  CLAUDE.md
  components/Apod/MediaTypeBadge.vue
  components/Layout/AppBar.vue
  components/Layout/CacheActionBar.vue
  components/Layout/LoadingLayer.vue
  composables/useFetchApod.ts
  package.json
  pages/about.vue
  pages/apod/[id].vue
  pages/apod/index.vue
  pages/index.vue
  server/api/apod.get.ts
  server/utils/apodSchema.ts
  server/utils/helpers.ts
  types.d.ts
  yarn.lock
Due: yarn run lint:staged --, yarn run stylelint:staged --

Add stricter TS rules (noUncheckedIndexedAccess etc.) + no-explicit-any; add GitHub Actions CI (lint, typecheck, build)
  .github/workflows/ci.yml
  eslint.config.mjs
  nuxt.config.ts
Due: yarn run lint:staged --

Perf + a11y: swap MDI icon font for SVG icons (@mdi/js), lazy-load list images; add html lang + nav-button aria-label
  app.vue
  components/Apod/MediaTypeBadge.vue
  components/Apod/Thumbnail.vue
  components/Layout/AppBar.vue
  components/Layout/CacheActionBar.vue
  error.vue
  package.json
  pages/about.vue
  pages/apod/[id].vue
  pages/apod/index.vue
  plugins/vuetify.ts
  yarn.lock
Due: yarn run lint:staged --, yarn run stylelint:staged --

Add Open Graph + Twitter Card meta with 1200x630 preview image
  app.vue
  nuxt.config.ts
  public/og-image.jpg
Due: yarn run lint:staged --, yarn run stylelint:staged --

Mobile polish: hide overview headline (in app-bar), short side-by-side cache buttons, flatter footer
  assets/json/static-text.json
  components/Layout/AppFooter.vue
  components/Layout/CacheActionBar.vue
  pages/index.vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

Add cache-source badges, fetch timing and how-it-works modal
  assets/json/static-text.json
  components/ApiLogo.vue
  components/Layout/AppFooter.vue
  components/Layout/CacheActionBar.vue
  components/Layout/HowItWorksDialog.vue
  components/Layout/LoadingLayer.vue
  composables/useFetchApod.ts
  pages/apod/[id].vue
  pages/apod/index.vue
  pages/index.vue
  public/svg/tanstack.svg
  server/api/clear-redis-cache.post.ts
  types.d.ts
Due: yarn run lint:staged --, yarn run stylelint:staged --

Optimize LCP hero and image transfer size
  components/Apod/Thumbnail.vue
  pages/apod/[id].vue
  pages/index.vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

Fix badge CLS and preload priority; lower image quality to 40
  components/ApiLogo.vue
  components/Apod/Thumbnail.vue
  components/Layout/LoadingLayer.vue
  pages/apod/[id].vue
  pages/index.vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

Raise detail page image quality back to 80
  pages/apod/[id].vue
Due: yarn run lint:staged --, yarn run stylelint:staged --

Path conditions:
  yarn run lint:staged --: ((any of: *.vue) or (any of: *.js)) or (any of: *.ts)
  yarn run stylelint:staged --: (any of: *.vue) or (any of: *.scss)
